<div class="col-xs-12 login-tile thumbnail">
  <p class="text-center">{{#link-to 'index'}}<button class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"></i> Home </button>{{/link-to}}</p>
</div>
