  <div class="container">
    <div class="col-xs-12 login-tile thumbnail">
      <p class="text-center">{{#link-to 'admin'}}<button class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"></i> Admin </button>{{/link-to}}</p>
    </div>

    <div class="col-xs-12 login-tile thumbnail">
      <p class="text-center">{{#link-to 'user'}}<button class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> User </button>{{/link-to}}</p>
    </div>
  </div>
